/* class to center circle in header */
.center {
    margin: 0 auto;
  }

/* circle class for header */
  .circle {
      background-color: #cce6ff;
      width: 200px;
      height: 200px;
      border-radius: 50%
  }

  header {
    background-color: #501155;
    width: 1264px;
    height: 400px;
    border: 1px solid black;
    
  }

  /* class to make header image a circle */
  .header_img {
    border-radius: 50%
  }

  .headerTextWrap {
    float: right;
    margin: 10px;
  }

  body {
    font-family: 'Copperplate' !important;
  }

  section {
    border: 1px solid black;
    width: 1264px;
    height: 1000px;
    background-color: #28092a;
  }



  /* class for effects on the imgs */

  

 /* h1, span {
    margin-bottom: -10px;
  } */

  footer {
    background-color: #b3ccff;
    width: 1264px;
    height: 200px;
    border: 1px solid black;
  }
 
  
  /* class for social media icon imgs/hyperlinks  */
  .media_icons {
    display: flex;
    align-items: baseline; 
  }